@page
@using MovingApp.Models;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tasks[0].Title)
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.StatusSort">
                    @Html.DisplayNameFor(model => model.Tasks[0].Status)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.DateSort">
                    @Html.DisplayNameFor(model => model.Tasks[0].DueDate)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tasks[0].Owner)
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var task in Model.Tasks)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => task.Title)
                </td>
                    @if(task.Status == (int)StatusTypes.Complete)
                    {
                        <td style="background-color: green;">Complete</td>
                    }
                    @if(task.Status == 1)
                    {
                        <td>Incomplete</td>
                    }
                    @if(task.Status == 2)
                    {
                        <td style="background-color: red;">Cancelled</td>
                    }
                <td>
                    @Html.DisplayFor(modelItem => task.DueDate)
                </td>
                    @if(task.Owner != null)
                    {
                        <td>
                            @Html.DisplayFor(modelItem => task.Owner)
                        </td>
                    } 
                    else 
                    {
                        <td>
                            Unassigned - AKA Stacy
                        </td>
                    }
                <td style="min-width: 185x">
                    @if(task.Status == (int)StatusTypes.Incomplete)
                    {
                        <div>
                            <a class="button" asp-page-handler="Complete" asp-route-id="@task.ID" asp-route-sortOrder="@Model.CurrentSort">Complete</a> @("|")
                            <a class="button" asp-page-handler="Cancel" asp-route-id="@task.ID" asp-route-sortOrder="@Model.CurrentSort">Cancel</a> @("|")
                            <a class="button" asp-page="./MovingTasks/Edit" asp-route-id="@task.ID">Edit</a>
                        </div>
                    }
                    @if(task.Status == (int)StatusTypes.Complete  || task.Status == (int)StatusTypes.Cancelled)
                    {
                        <a class="button" asp-page-handler="Incomplete" asp-route-id="@task.ID" asp-route-sortOrder="@Model.CurrentSort">Incomplete</a>
                    }
                </td>
            </tr>

        }
    </tbody>
</table>

<a class="button" asp-page="./MovingTasks/Create">Add Task</a>